!!!
%html
  %head
    %link#changeColor{:href => "assets/color/multicolor.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    -# Header
    .header
      .container
        .row
          / Header Cart
          .cart.on
            %i.icon-shopping-cart
            %p
              1.250,00
              %span ( 3 )

            / Header Cart Content
            .cart-content
              .mini-cart-info
                %h3 Shopping Cart
                %ul
                  %li
                    %a{:href => "#"}
                      %img{:alt => "Product", :src => ""}/
                    .mini-cart-detail
                      %h5
                        %a{:href => "#"} iPhone 5 16GB Black
                      %em 1 item
                      %p
                        %span € 1.230
                      \€ 880
                  %li
                    %a{:href => "#"}
                      %img{:alt => "Product", :src => ""}/
                    .mini-cart-detail
                      %h5
                        %a{:href => "#"} iPhone 4s 8GB White
                      %em 1 item
                      %p € 120.00
              .mini-cart-total
                %ul
                  %li
                    Sub-Total
                    %span € 101.00
                  %li
                    Eco Tax
                    %span € 2.00
                  %li
                    VAT
                    %span € 17.68
                %p.total
                  Total
                  %span € 120.00
              .checkout
                %a.btn{:href => "#"} View Cart
                %a.btn.btn-checkout{:href => "#"} Checkout

          / Header Login
          %p.log-reg
            %a{:href => "#"} Sign In
            %a{:href => "#"} Register
          .clearfix

    / Main Navbar
    %hr.bordered
    .navbar-cont
      .container
        .row
          .span12
            .navbar
              .navbar-inner
                .container
                  %a.btn.btn-navbar{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse"}
                    %i.icon-align-justify
                  .nav-collapse.collapse.navbar-responsive-collapse
                    %ul.nav
                      %li
                        %a{:href => "/"} Home
                      %li.dropdown.active
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "about.html"}>
                          About
                          %i.icon-angle-down

                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}>
                          Blog
                          %i.icon-angle-down

                      %li.dropdown
                        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}>
                          %i.icon-angle-down
                          Shop

                        / Dropdown Navbar
                        %ul.dropdown-menu
                          %li
                            %a{:href => "/"} Golf Balls

    %hr.bordered

    .container{ "ng-controller" => 'GolfBallsCtrl' }
      .row

        / Sidebar
        .span3.sidebar
          %h3 Brands
          %ul.nav.nav-stacked
            %li.active{ "ng-repeat" => 'golf_ball in golf_balls',
            "ng-click" => "handleClick(golf_ball, $index)" }

              %a{ :href => "#", "ng-class" => "{ active: $index == selectedRow }" } {{ golf_ball.brand }}

          %h3 Our Promise
          %p
            %strong NoRushGolf
            works with wholesalers of the highest quality golf balls
            on the market. Our relationships provide you the option to buy great
            golf balls for a reasonable price. We guarantee quality and satisfaction.
            If you need anything email us or find us on twitter.

        / Content
        .span9.sidebar#featured{ "ng-show" => 'selectedGolfBall' }

          / Breadcrumb
          %ul.breadcrumb
            %li
              %a{:href => "#"} Home
              %span.divider /
            %li
              %a{:href => "#"} Golf Balls
              %span.divider /
            %li.active {{ selectedGolfBall.brand }}
          %h1
            Golf
            %span Balls
          %em.date

            %img.span3.margin-bottom{:alt => "Picture", "ng-src" => "{{ selectedGolfBall.image_path }}" }
          %h3.span3.product-info
            {{ selectedGolfBall.brand }} {{ selectedGolfBall.name }}
            .price-small Retail Price: ${{ selectedGolfBall.original_price }}
            .price-big Our Price: ${{ selectedGolfBall.price }}
            %a.btn.btn-primary.btn-custom{:href => cart_path }
              Buy!

          %p.small-desc.side
            {{ selectedGolfBall.mini_description }}
            %br/
            %br/
          %p.span9.small-desc {{ selectedGolfBall.description }}

    / Brands List
    .container
      .brands
        %ul.thumbnails
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/titleist_500x488.png"}
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/taylormade_550x550.jpeg"}
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/nike_550x500.jpeg"}
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/nike_550x550.jpeg"}
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/callaway_405x395.jpg"}
          %li.span2
            %img.thumbnail{:alt => "Logo", :src => "assets/bridgestone_350x400.jpg"}

    / Footer
    .footer
      .container
        .row
          / Footer Reviews
          .span10.reviews{ 'ng-controller' => 'ReviewsCtrl' }
            %h5
              %i.icon-asterisk>
              Reviews
            %ul.footer-contact
              %li.active{ 'ng-show' => 'selectedReviews' }
                %dl{ 'ng-repeat' => 'review in selectedReviews | filter:{brand : brand}'}
                  %dt {{ review.title }}
                  %dd {{ review.body }}
                  %dt Rating
                  %dd {{ review.rating }}

          / Footer Social
          %h5
            %i.icon-rss>
            Keep in touch
          .footer-social
            %a.icon-twitter{:href => "#"}

    / Footer Links
    .footer-links
      .container
        .row
          .span3
            %h5
              %i.icon-info>
              Information
            %ul
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "#"} Delivery Information
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms & Conditions
          .span3
            %h5
              %i.icon-comment>
              Customer Service
            %ul
              %li
                %a{:href => "#"} Contact Us
              %li
                %a{:href => "#"} Returns
              %li
                %a{:href => "#"} Delivery
              %li
                %a{:href => "#"} Site Map
          .span3
            %h5
              %i.icon-folder-open>
              Extras
            %ul
              %li
                %a{:href => "#"} Brands
              %li
                %a{:href => "#"} Gift Vouchers
              %li
                %a{:href => "#"} Affiliates
              %li
                %a{:href => "#"} Specials
          .span3
            %h5
              %i.icon-unlock-alt>
              My Account
            %ul
              %li
                %a{:href => "#"} My Account
              %li
                %a{:href => "#"} Order History
              %li
                %a{:href => "#"} Wish List
              %li
                %a{:href => "#"} Newsletter
    %hr.bordered

    / Copy
    .copy
      .container
        .row
          .span12

            / Cards
            %img{:alt => "Cards", :src => ""}/
            %p.text-center
              Powered by
              %strong OpenCart
              \- © 2013
              %a{:href => "#"} Your Store
